# Пример файла переменных окружения для продакшн-запуска
# Скопируйте как .env.prod и подставьте реальные значения перед запуском на сервере
DJANGO_SECRET_KEY=django-insecure-68m!%^h^e4n894v=z61d+m34(f0)@2%6&-n)g5#1uzeun!xds4
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=kontrast-shop.ru,186.246.30.115

# Дополнительные переменные (если понадобится)
# DATABASE_URL=postgres://user:pass@db:5432/dbname
